<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrafficMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrafficMaster.Properties.Settings>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="SaveSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="News" serializeAs="String">
                <value />
            </setting>
            <setting name="FriendID" serializeAs="String">
                <value />
            </setting>
            <setting name="UseRandomAgent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoURL" serializeAs="String">
                <value />
            </setting>
            <setting name="YouTubeURL" serializeAs="String">
                <value />
            </setting>
            <setting name="AnyURL" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>5080</value>
            </setting>
            <setting name="TimeVisitsMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EZRegister" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeVisitsMax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="isUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </TrafficMaster.Properties.Settings>
    </userSettings>
</configuration>